* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9c6392;
  color: whitesmoke;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr 0.3fr 1.7fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "grid-header grid-header"
    "grid-navbar grid-navbar"
    "grid-banner grid-banner"
    "grid-banner grid-banner"
    "grid-informacion grid-informacion"
    "grid-informacion grid-informacion"
    "grid-footer grid-footer";
}

.grid-headerynav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-area: grid-headerynav;
}

.grid-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: grid-banner;
}

.grid-informacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: grid-informacion;
}

.grid-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: grid-footer;
}

/*header y nav*/

header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(144, 104, 156);
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
}

.letraG {
  height: 48px;
  line-height: 48px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 20px;
}

.letraG img {
  height: 35px;
  width: auto;
  vertical-align: middle;
}

header nav {
  text-align: center;
  height: 48px;
  line-height: 48px;
  position: absolute;
  top: 0;
  right: 20px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  text-align: center;
}

header nav ul li {
  margin-left: 15px;
}

header nav ul li a {
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-style: italic;
}

/*aplicando grids en index*/
/*banner*/
.grid-banner {
  display: grid;
  align-items: center;
  border: 2px solid whitesmoke;
}

.grid-banner p {
  display: grid;
  font-size: 50px;
  padding: 10px;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.grid-banner img {
  display: grid;
  justify-items: right;
  width: 50%;
  margin: 0 auto;
  height: auto;
}
/*información*/
.grid-informacion {
  display: grid;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.grid-informacion p {
  display: grid;
  justify-self: center;
  font-size: 50px;

  text-align: justify;
  width: 100%;
  height: auto;
}

.grid-informacion iframe {
  max-width: 90%;
  justify-self: end;
}

/*footer*/
.grid-footer {
  grid-area: grid-footer;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border: 2px solid whitesmoke;
}

/*grid en more-exams*/

.grid-examen {
  display: grid;
  grid-template-areas: "title title" "text media";
  grid-template-columns: auto minmax(200px, 30%);
  grid-template-rows: auto auto;
  gap: 20px 20px;
  grid-auto-flow: row;
  padding: 20px;
  align-items: center;
}

.grid-examen .grid-examen-title {
  grid-area: title;
}

.grid-examen .grid-examen-text {
  grid-area: text;
  text-align: justify;
  font-size: 25px;
  margin: 0 auto;
}

.grid-examen .grid-examen-media {
  grid-area: media;
  width: 100%;
  height: auto;
  border: solid 2px whitesmoke;
}

/*sing up*/

.fieldset {
  margin-top: 20px;
  padding: 20px;
  margin-left: 500px;
  margin-right: 500px;
  text-align: center;
}

/*partes responsive*/

/*parts of exam y news*/

.partes {
  font-size: 30px;
  text-align: justify;
  flex-direction: row;
  margin-left: 16px;
  padding: 20px;
}

.media {
  margin: 0 auto;
  height: 100%;
  width: 50%;
}

.news {
  padding: 20px;
}

.titulo-plataforma {
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
}
.plataforma {
  font-size: 45px;
  flex-direction: row;
  text-align: justify;
}

.news-img {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.plataforma img {
  border: 2px solid whitesmoke;
  margin: 0 auto;
  margin-top: 30px;
}

/*para mobile*/
@media (max-width: 767px) {
  body {
    background-color: white;
    color: #9c6392;
  }
  .partes {
    flex-direction: column;
    gap: 10px;
    background-color: white;
    color: #9c6392;
  }

  .media {
    display: none;
  }

  .partes .writing img {
    border: 2px solid #9c6392;
  }

  /*
  .media {
    margin: 0 auto;
    height: 100%;
    width: 50%;*/

  .news-img,
  .plataforma-img {
    display: none;
  }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: white;
    color: #9c6392;
  }
  .partes {
    flex-direction: column;
    gap: 10px;
    background-color: white;
    color: #9c6392;
  }

  .partes .writing img {
    border: 2px solid #9c6392;
  }

  .media {
    margin: 0 auto;
    height: 100%;
    width: 50%;
  }

  .news-img,
  .plataforma-img {
    display: none;
  }
}

fieldset{
  background-image: linear-gradient(to bottom, #9c6392, #C198AD);
}

/*transformaciones*/

.transformacion1:hover {
  transform: scale(1.6);
}

.grid-informacion{
  transition: 0.2s;
}

.grid-informacion:hover{
  background-color: whitesmoke;
  color: #9c6392;
}



/*animaciones en more-exams*/

@keyframes movimiento-letras {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.grid-examen-text, .grid-examen-media{
  animation-duration: 2s;
  animation-name: movimiento-letras;
  animation-iteration-count: initial;
}

@keyframes movimiento-letras {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  }

.grid-examen h2{  animation-duration: 2s;
  animation-name: movimiento-letras;
  animation-iteration-count: initial;

}

/*cambios con bootstrap*/

/*banner con bootstrap*/
.row-cols-2{
  font-size: 80px;
  align-items: center;
}

/*card pssst! en index*/
.card-body{
  background-color: white;
  color: #9c6392;
  text-align: justify;
  font-size: 17px;
}
/*carrusel en parts-of-exam*/

.carrusel-titulo{
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}

#carouselExampleIndicators{
  width: 300px;
  margin: 0 auto;
  
}

.carousel-inner{
  vertical-align: middle;
  width: 280px;
  height: 380px;
}

.accordion-flush{
  color: #9c6392;
}



